*{
	padding: 0;
	margin: 0;
}

.centre_box{
	position: absolute;
	width: 25rem;
	height: 12.5rem;
	border: .0625rem solid blue;
	top: 50%;
	left: 50%;
	margin-top:-6.25rem;
	margin-left: -12.5rem;
	background-color: gray;
}

.route1{
	position: absolute;
	top: 0;
	left: 0;
	width: 3.125rem;
	height: 3.125rem;
	border-bottom-right-radius: 3.125rem;
	border: .0625rem solid orange;
	background-color: orange;
}

.route2{
	position: absolute;
	top: 100%;
	left: 100%;
	width: 3.125rem;
	height: 3.125rem;
	border-top-left-radius: 3.125rem;
	margin-left: -3.125rem;
	margin-top: -3.125rem;
	background-color: orange;
}
